{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Hello, this is the alumni list</h1>

{% for alumnus in alumni %}

<div class="card" style="width: 18rem;">
  {% if alumnus.photo %}
    <img class="card-img-top" src="media/{{alumnus.photo}}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{alumnus.first_name}} {{alumnus.last_name}}</h5>
    <p class="card-text">{{alumnus.back_year}}</p>
    <p class="card-text">{{alumnus.get_status_display}}</p>
    {% if alumnus.looking_for_internship %}
        <span class="badge badge-pill badge-info">Recherche un stage</span>
    {% endif %}

    <ul>
    {% if alumnus.contact_info_instagram %}
        <li><a href="{{alumnus.contact_info_instagram}}" class="btn btn-primary">Instagram</a></li>
    {% endif %}
    {% if alumnus.contact_info_email %}
        <li><a href="mailto:{{alumnus.contact_info_email}}">{{alumnus.contact_info_email}}</a></li>
    {% endif %}
    {% if alumnus.contact_info_linkedin %}
        <li><a href="{{alumnus.contact_info_linkedin}}" class="btn btn-primary">Profil Linkedin</a></li>
    {% endif %}
    {% if alumnus.contact_info_info_tel %}
        <li><a href="{{alumnus.contact_info_tel}}" class="btn btn-primary">Tél</a></li>
    {% endif %}
    </ul>
  </div>
</div>
{% endfor %}
{% endblock %}
