{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<h1>Les Anciens Élèves Histoire des Arts du Lycée de Saint-Just</h1>

<form class="form-inline" action="{% url 'trombinoscope:search' %}" method="post">
    {% csrf_token %}
    <div class="form-group mb-2 mx-sm-3">
    {{ form|crispy }}
    </div>

    <button class="btn btn-info mb-2" type="submit">rechercher</button>
</form>


<div class="container">


    <div class="row">

{% for alumnus in alumni %}

<div class="card m-2" style="width: 18rem;">
  {% if alumnus.photo %}
    <img class="card-img-top" src="{% get_media_prefix %}/{{alumnus.photo}}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <h5 class="card-title">{{alumnus.first_name}} {{alumnus.last_name}}</h5>
    <p class="card-text">Bac {{alumnus.bac_year}}</p>
    <p class="card-text">Statut pro : {{alumnus.get_status_display}}</p>
    {% if alumnus.looking_for_internship %}
        <span class="badge badge-pill badge-info">Recherche un stage</span>
    {% endif %}
    <p class="card-text">Études : {{alumnus.post_bac}}</p>
    <p class="card-text">Emploi : {{alumnus.occupation}}</p>

    {% if alumnus.contact_info_instagram %}
        <p><a target="_blank" href="{{alumnus.contact_info_instagram}}">Instagram</a></p>
    {% endif %}
    {% if alumnus.contact_info_linkedin %}
        <p><a target="_blank" href="{{alumnus.contact_info_linkedin}}">Profil Linkedin</a></p>
    {% endif %}
    {% if alumnus.contact_info_email %}
        <p><a href="mailto:{{alumnus.contact_info_email}}">{{alumnus.contact_info_email}}</a></p>
    {% endif %}

    {% if alumnus.contact_info_tel %}
    <button type="button" class="btn btn-info">{{alumnus.contact_info_tel}}</button>
    {% endif %}

  </div>
</div>
{% endfor %}
    </div>
</div>

{% if page_obj.paginator.num_pages > 1 %}
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for _ in ''|ljust:page_obj.paginator.num_pages %}
    <a class="page-link" href="?page={{ forloop.counter }}">{{ forloop.counter }}</a>
    {% endfor %}


    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}
