{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Les Anciens Élèves Histoire des Arts du Lycée de Saint-Just</h1>

<h2>Où suis-je ?</h2>
<p>Ce site est un annuaire des élèves de spécialité Histoire des Arts du Lycée de Saint-Just à Lyon, créé par l’équipe enseignante.</p>


<h2>Je veux consulter cet annuaire</h2>

<p>La consultation de cet annuaire est réservée aux ancien·nes élèves de la spécialité Histoire des Arts du Lycée de Saint-Just.</p>
<p>Pour accéder à l’annuaire et y figurer, vous devez être invité·e par l’équipe enseignante.</p>
<p>Si vous êtes un·e ancien·ne élève et n’avez pas reçu d’invitation, n’hésitez pas à contacter l’équipe enseignante.</p>

<img class="img-fluid" src="{% static 'trombinoscope/photos/pano.jpg' %}" alt="photo panoramique du Lycée de Saint-Just de Jean-Pierre Gobillot" />
<em>Photo par Jean-Pierre Gobillot</em>
{% endblock %}
