{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Les Anciens Élèves Histoire des Arts du Lycée de Saint-Just</h1>

<h2>Où suis-je ?</h2>
<p>Ce site est un annuaire des élèves de spécialité Histoire des Arts du Lycée de Saint-Just à Lyon, créé par l’équipe enseignante du pôle Histoire des Arts.</p>


<h2>Je veux consulter cet annuaire</h2>

<p>La consultation de cet annuaire est réservée aux anciens élèves de la spécialité Histoire des Arts du Lycée de Saint-Just.</p>
<p>Pour accéder à l’annuaire et y figurer, vous devez être invité par l’équipe enseignante.</p>
<p>Si vous êtes un·e ancien·ne élève et n’avez pas reçu d’invitation, n’hésitez pas à <a href="{% url 'trombinoscope:contact' %}">contacter l’équipe du site</a>.</p>

<img src="{% static 'trombinoscope/photos/lyceens-paris.jpg' %}" alt="photo de classe d’élèves du Lycée de Saint-Just" />
{% endblock %}
