{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Les Anciens Élèves Histoire des Arts du Lycée de Saint-Just</h1>

<h2>Où suis-je ?</h2>
<p>Ce site est un annuaire des élèves de spécialité Histoire des Arts du Lycée de Saint-Just à Lyon.</p>

<h2>Je veux consulter cet annuaire</h2>
<p>La consultation de cet annuaire est réservée aux anciens élèves de la spécialité Histoire des Arts du Lycée de Saint-Just.</p>
<p>Pour accéder à l’annuaire et y figurer, vous devez être invité par l’équipe enseignante.</p>


{% endblock %}
