{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Modifier / créer mot de passe{% endblock title %}
{% block content %}
<h1>Choisir mon mot de passe</h1>

<form action="{% url 'trombinoscope:set_password' id %}" method="post">
    {% csrf_token %}

     {{ form|crispy }}

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-warning btn-lg" type="submit">Choisir mon mot de passe</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
