{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Compléter profil{% endblock title %}
{% block content %}
<h1>Compléter le profil</h1>
<p>Merci de compléter votre profil dans ce formulaire.</p>
<p>Les informations de contact (email, téléphone, instagram, linkedin) <b>ne sont pas</b> obligatoires.<br>Si vous les remplissez, elles ne seront pas indexées par les moteurs de recherche car ce site n’est pas accessible aux robots 🤖.
<br>L'adresse email de votre compte (privée) et votre adresse email de contact (publique pour les autres anciens élèves) peuvent être différentes.</p>
<hr>
<form action="{% url 'trombinoscope:update_profile' %}" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
     {{ form|crispy }}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-warning btn-lg" type="submit">Mettre à jour</button>
            </div>
        </div>
    </div>
</form>


{% endblock %}
