{% extends "base.html" %}
{% block title %}Mentions légales{% endblock title %}
{% block content %}
<h1>Mentions légales</h1>

<h2>Identité</h2>
<p>Ce site est publié par l'équipe enseignante d’Histoire des Arts du Lycée Public de Saint-Just</p>
<p>Adresse : 21 rue des Farges. 69005 Lyon, France. ☎ : 04 37 41 30 30</p>
<p>Coordinatrice : Marie-Laure Goût.</p>

<h2>Hébergement</h2>
<p>Ce site est hébergé par OVH</p>
<p>Adresse : 2 rue Kellermann, 59100 Roubaix, France. ☎ : 09 72 10 10 07</p>

<h2>Données personnelles</h2>
<p>Ce site est un annuaire d'anciens élèves de la spécialité Histoire des Arts du Lycée de Saint-Just.</p>
<p>Les élèves invités peuvent librement renseigner leur coordonnées personnelles, qui ne sont visibles que des autres élèves invités et de l’équipe enseignante.</p>
<p>Ces données personnelles peuvent être librement supprimées par les utilisateurs, et n’ont pas d'autre utilisation.</p>
<p>Les moteurs de recherche et visiteurs non invités et non identifiés n’ont aucun accès à ces données personnelles.</p>
{% endblock content %}
